.show{
    display: flex !important;
    justify-content: center !important;
    align-items: center ;
    transition: .3s ease-in !important;
}

.modal-content{
    background: none !important;
    border: none !important;
}


.cerrar{
    
    margin-left: 0px;
    position: relative;
    left: 200px;
    bottom: 25px;

}


.logo {
    height: 150px;
    width: 150px;
}

.login-container {
    background: #7F7FD5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #138EA1, #1D6794);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #138EA1, #1D6794);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 30px;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    height: 630px;
    width: 450px;
    align-items: center;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

/*Login side*/

.input-container {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 90%;
}

.info-input {
    padding: 4% 3%;
    padding-left: 35px;
    height: 30px;
    
    border-radius: 12px;
    border: 2px solid white;
    width: 85%;
    background-repeat: no-repeat;
    background-position: left;
}


.recordar-contraseña-lbl {
    color: white;
    font-size: 1.5rem;
    margin-top: 15px;
}

.olvidado-contraseña {
    color: white;
    display: block;
    font-size: 1.3rem;
    margin-top: 15px;
}