.ordenesContainer{
    margin-top: 100px;
}

.OrdenesTitulos{
    justify-content : center;
    font-family: inherit;
}

.textt{
    font-size: 30px  !important;
    font-weight: 900 !important;
}

.division{
    background: #31425A;
    -webkit-box-shadow: 9px -9px 28px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 9px -9px 28px -11px rgba(0,0,0,0.75);
box-shadow: 17px 16px 28px -16px rgba(0,0,0,0.75);
}





.division .nav .pendite:hover{
    background-color: #17a2b8!important;
    transition: 0.9s;
    transition-property: background;

}

.division .nav .aceptada:hover{
    background-color: #c5ec19!important;
    transition: 0.9s;
    transition-property: background;

}

.division .nav .proceso:hover{
    background-color: #f5be3e!important;
    transition: 0.9s;
    transition-property: background;

}

.division .nav .terminada:hover{
    background-color: #34c771!important;
    transition: 0.9s;
    transition-property: background;

}

.division .nav .pagada:hover{
    background-color: #ebebeb!important;
    transition: 0.9s;
    color:black!important;
    transition-property: background;

}

.division .nav .cancelada:hover{
    background-color: #d43c3c!important;
    transition: 0.9s;
    transition-property: background;

}
.fondo2{
    background: url(https://cdn.discordapp.com/attachments/496073917698539550/718138085132599436/b00f2f8a052b5aff4e3fd1983d28c751.jpg) no-repeat;
    background-size: cover;
}

.nav-pills .nav-link.active{
    color: #fff!important;
    background-color: #17a2b8!important;
}

