

.body-fake {
    align-items: center;
}

/*cardd*/
.cardd {
    border: 1px solid black;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    height: 400px;
    margin: 10px auto;
    width: 800px;
}

.roww {
    align-items: center;
    display: flex;
}

/*cardd Information*/
.cardd-info-container {
    height: 100%;
    padding: 2% 3%;
    width: 50%;
}

/*cardd image*/
.cardd-image-container {
    height: 100%;
    width: 50%;
}

.cardd-image { 
    height: 100%;
    width: 100%;
}


@media (max-width: 1200px) {  
    .cardd {
        font-size: 0.9rem;
    }

    .cardds-container {
        text-align: center;
    }

    .roww { 
        align-items: center;
        display: inline-block;
    }
}
@media (max-width: 1200px) { 
    .cardd {
        height: 300px;
        width: 600px;      
    }
}

@media (max-width: 630px) { 
    .cardd {
        height: 300px;
        width: 450px;
        font-size: 0.8rem;      
    }
}